.popup {
    width: 420px;
    height: auto;
    position: fixed;
    z-index: 2;
    display: none;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-300px; 
    opacity: 0;
    background-color: white;
    border-radius: 25px; 

    h2 {
        margin: 0 0 20px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        font-family: 'century-gothic';

        input, label {
            width: 270px;
            margin-top: 10px;
            display: block;
            font-family: 'century-gothic';
        }

        label {
            padding: 0;
        }

        input {
            height: 30px;
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $nightblue;
        }

        input[type="submit"] {
            width: 282px;
            margin-top: 20px;
            color: white;
            background-color: $pink;
            font-family: 'ludicrous';
            font-size: 24px;
            height: 40px;
            border: none;
        }
    }
}

.dim {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    visibility: hidden;
    background-color: black;
    opacity: 0;
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    nav {

        ul {

            float: right;
            margin-right: 20px;
            li {
                margin-left: 40px;
                display: inline;
                font-family: 'ludicrous';
                font-size: 26px;
                color: $nightblue;
                cursor: pointer;
                transition: 0.3s ease all;

                button {
                    width: 140px;
                    height: 50px;
                    border: none;
                    font-family: 'ludicrous';
                    font-size: 26px;
                    background-color: $nightblue;
                    color: white;
                    transition: 0.3s ease all;
                }

                button:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }

            li:hover {
                opacity: 0.8;
            }
        }
    }
    
    .title {
        display: flex;

        h1 {
            width: 500px;
            margin: 0 auto;
            left: 0;
            right: 0;
            position: absolute;
            text-align: center;
            font-family: 'ludicrous';
            font-size: 60px;
            color: $nightblue;
        }

        img {
            margin-left: 0px;
            animation: 0.8s appear forwards;
        }
    }
}

h2 {
    padding-top: 20px;
    text-align: center;
    font-family: 'ludicrous';
    font-size: 40px;
    color: $nightblue;
}

#rules {
    width: 100%;
    height: auto;
    background-color: $orange;

    p {
        width: 700px;
        margin: 0 auto;
        padding-bottom: 40px;
        text-align: justify;
        font-family: 'century-gothic';
        font-size: 18px;
        line-height: 27px;
        color: $nightblue;

        span {
            float: right;
            font-family: 'ludicrous';
            font-size: 28px;
        }

        span:hover {
            transition: 0.3s ease all;
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

#sky {
    width: 100%;
    height: 300px;
    background-color: #509DB8;

    #video {
        object-fit: cover;
    }
}

footer {
    width: 100%;
    height: 220px;
    background-color: $pink;

    #footer-wrapper {
        display: flex;

        .column {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;

            img {
                width: 180px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
            }

            ul {
                
                li {
                    margin: 30px 0;
                    font-family: 'century-gothic';
                    font-size: 18px;
                    color: white;
                    list-style: none;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// $PROFIL

.profil-wrapper {
    display: flex;
    height: auto;
    margin-bottom: 100px;
}

.profil-wrapper__left {
    width: 50%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;

    h3 {
        margin: 30px 0 0 30px;
        text-align: left;
        font-family: 'ludicrous';
        font-size: 40px;
        color: $nightblue;
    }

    ul {
        list-style: none;

        li {
            margin: 30px 0 0 10px;
            font-size: 20px;
            font-family: 'century-gothic';
        
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.profil-wrapper__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 200px;
        height: 80px;
        border: none;
        font-family: 'ludicrous';
        font-size: 36px;
        background-color: $nightblue;
        color: white;
        transition: 0.3s ease all;
    }
}

// $PRESENTATION

.presentation-video {
    width: 800px;
    height: 400px;
    background-color: grey;
    margin: 0 auto;
}

.presentation-buttons {
    display: flex;
    justify-content: center;

    button {
        margin: 50px;
        width: 200px;
        height: 60px;
        border: none;
        font-family: 'ludicrous';
        font-size: 24px;
        background-color: $nightblue;
        color: white;
        transition: 0.3s ease all;
    }
}

// $AIDE

.aide {
    margin: 50px;

    h2 {
        text-align: left;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        font-family: 'century-gothic';
    }
}

table {
    margin: 100px auto;
    width: 80%;
    padding: 100px;
    text-align: center;
    border-collapse: collapse;
}

th {
    background-color: $nightblue;
    padding: 20px;
    color: white;
    font-family: 'century-gothic';
    font-size: 16px;
}

tr {
    font-family: 'century-gothic';
    font-size: 16px;
    height: 30px;
}

.th-first {
    border-radius: 50px 0 0 50px;
}

.th-last {
    border-radius: 0 50px 50px 0;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
    

        input[type=text] {
            margin: 20px auto;
            padding: 14px;
            font-family: 'century-gothic';
            font-size: 16px;
            width: 300px;
            border-radius: 15px;
            border: 1px solid $nightblue;
        }
        input[type=submit] {
            margin: 50px auto;
            padding: 14px;
            font-family: 'ludicrous';
            font-size: 24px;
            color: white;
            border: 0;
            width: 400px;
            border-radius: 15px;
            background-color: $pink;
            text-align: center;
        }
        label {
            margin: 0 auto;
            font-family: 'century-gothic';
            font-size: 24px;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        margin-left: 0;
    }
    100% {
        opacity: 1;
        margin-left: 100px;
    }
}

