#viewer-tips {
    margin-top: 30px;
    width: 710px;
    height: 300px;
}
@media screen and (max-width: 1366px)
{
    #viewer-tips {
        height: 150px;
    }

    #viewer-answer {
        padding: 10px;
        width: 750px;
    }
    
    #viewer-textbox-wrapper p {
        font-size: 30px;
    }

    #viewer-textbox-wrapper {
        margin-top: 0px;
    }

    #viewer-puzzle {
        margin: 5px 0 0 5px;
        font-size: 24px;
    }

    .popup {
        top: 0;
        margin-top: 0;
    }
}
