@font-face {
    font-family: 'ludicrous';
    src: url('../assets/fonts/ludicrous.otf');
}

@font-face {
    font-family: 'century-gothic';
    src: url('../assets/fonts/century_gothic.ttf');
}

$nightblue: #222751;
$skyblue: #6FC4C7;
$orange: #F9C37D;
$pink: #E38F8F;
