
#viewer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(161, 161, 161);
    background-size: cover;
}

#viewer-fullscreen {
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(148deg) brightness(102%) contrast(104%);
    width: 42px;
    float: right;
    margin: 20px;
    opacity: 0.3;
    transition: 0.3s ease all;
    user-select: none;
}

#viewer-fullscreen:hover {
    opacity: 1;
    cursor: pointer;
}

#viewer-textbox {
    width: 700px;
    height: auto;
    min-height: 100px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 30px;
    font-family: 'century-gothic';
    text-align: justify;
    border: 5px solid white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    user-select: none;

    img {
        width: 100px;
        float: left;
        padding-right: 10px;
        -webkit-user-drag: none;
    }
}

#viewer-textbox-wrapper {
    position: fixed;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    p {
        color: white;
        font-size: 40px;
        font-family: "ludicrous";
        margin: 0;
        padding-bottom: 14px;
        height: 40px;
        user-select: none;
    }
}

#viewer-puzzle {
    position: fixed;
    color: white;
    font-size: 32px;
    font-family: "century-gothic";
    margin: 20px 0 0 20px;
    z-index: 10001;
    user-select: none;
    
}

#viewer-tips {
    margin-top: 30px;
    width: 710px;
    height: 300px;
    padding: 30px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 150px;
        user-select: none;
    }
}

#viewer-answer {
    margin-top: 30px;
    width: 710px;
    height: 150px;
    padding: 30px;
    background-color: white;
    opacity: 0.7;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    span {
        margin: 0 auto 30px auto;
    }

    input[type=text] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid gray;
        display: inline-block;
        font-size: 50px;
        margin: 0 15px;
        width: 3rem;
        text-align: center;
      }

    input[type=submit] {
        width: 120px;
        height: 40px;
        margin: 0 auto;
        background-color: rgb(40, 241, 33);
        border: 0;
        font-family: "century-gothic";
        color: white;
        font-size: 24px;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.3s ease all;
    }

    input[type=submit]:hover {
        opacity: 1;    
    }

    input[type=text]:focus {
    outline: none;
    color: dodgerblue;
    }
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 200px;
    z-index: 10000;
    background-color: white;
    display: none;

    #popup-button {
        color: white;
        font-family: "ludicrous";
        padding: 8px 24px;
        font-size: 20px;    
        border: 0;
        display: block;
        margin: 20px auto;
    }

    #popup-text {
        text-align: center;
        font-family: "ludicrous";
        font-size: 32px;
    }
}

#character-main {
    position: fixed;
    bottom: 20px;
    left: 50px;
    width: 160px;
    -webkit-user-drag: none;
    user-select: none;
}

#character-scnd {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 160px;
    -webkit-user-drag: none;
    user-select: none;
}
